# Python
__pycache__/
*.py[cod]
*.sqlite3
.venv/
.env
.env.*
*.log

# Bytecode cache
*.pyo
*.pyd

# Django
/staticfiles/
media/

# OS/Editors
.DS_Store
.vscode/
.idea/

# Python build
dist/
build/
*.egg-info/
